/* CSS declarations go here */
.ttt-button {
    height: 100px;
    width: 100px;
}

.player1:hover {
    background: red;
}

.player2:hover {
    background: blue;
}

.row0 .col0 {
    background: #ff0000;
}
.row0 .col1 {
    background: #ff8800;
}
.row0 .col2 {
    background: #ffff00;
}

.row1 .col0 {
    background: #ff0088;
}
.row1 .col1 {
    background: #ff8888;
}
.row1 .col2 {
    background: #ffff88;
}

.row2 .col0 {
    background: #ff00ff;
}
.row2 .col1 {
    background: #ff88ff;
}
.row2 .col2 {
    background: #ffffff;
}